:root {
  --background-color: #f9f9f6
}
body {
  background-color: var(--background-color);
}

h1 { font-size: 1.3rem; }
h2 { font-size: 1.1rem; }
h3 { font-size: 1rem; }

section[name="center"] {
  flex-grow: 1;
  padding: 1rem;
}

.menu {
  background-color: #333;
  padding: 1rem;
  min-height: 100vh;
}
.menu header {
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #555;
}
.menu header img {
  display: block;
  max-height: 100px;
  margin: 0 auto;
}
.menu nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}

.menu nav a:hover,
.menu nav a:focus {
  background-color: #555;
}

table {
  border-spacing: 10px;
  border-collapse: collapse;
  width: 100%;
}
table thead {
  border-radius: .3rem;
}
table thead th {
  background-color: var(--background-color);
  font-size: .9em;
}
table thead :first-child,
table thead :last-child {
  border-radius: .3rem;
  text-transform: uppercase;
}
table th {
  text-align: left;
}
table td,
table th {
  padding: .3rem 1rem;
}

.block {
  background-color: #fff;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #ddd;
  box-shadow: 0 0 .5rem rgba(150, 150, 150, .3);
  margin: 0 1rem 1rem 0;
}

label {
  width: 10rem;
}
